<p>licencia works!</p>
<h2>aqui va el apartado de la licencia para que puedas empezar a trabajar</h2>

    <div>
        <h4>Detalles de licencias Asignadas</h4>
            <table class="table-striped">
                <thead>
                    <tr>
                        <th>Aplicacion</th>
                        <th>Url</th>
                        <th>Fecha de creacion</th>
                        <th>Fecha fin</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
    </div>